<?php
/**
 * Copyright 2017 Horde LLC (http://www.horde.org/)
 *
 * See the enclosed file LICENSE for license information (...). If you
 * did not receive this file, see http://www.horde.org/licenses/....
 */

/**
 * Default configuration.
 *
 */

// GLOBAL configuration

// Be verbose?
$conf['verbose'] = false;


// Git related configuration

// Base directory of git checkouts.
$conf['git_base'] = '/horde/src';

// Github organization to use for repositories
$conf['org'] = 'horde-split-test';

// To use a "developer" checkout, use the following URI for github.
// Otherwise, an anonymous clone will be done that cannot be pushed.
//$conf['git_ssh'] = 'git@github.com:';

// Ignore the following repositories. Mostly used to avoid cloning of the
// legacy monolithic repository.
$conf['ignore'] = array('horde');

// A renaming map. Renames repository names to a new "web" name.
$conf['map'] = array($conf['base'] = 'horde');

// If true, use the 'get' alias recommended by https://www.horde.org/development/git#updating-repository
$conf['use_git_get'] = false;

// If setting use_git_get to true, you probably want the alias to be
// automatically created in each repository that is cloned.
$conf['add_get_alias'] = true;

// Set to true to cache the results of GitHub API calls. E.g., when requesting
// a list of available repositories and their properties. Without this, frequent
// calls could blacklist the client IP for 15 minutes.
$conf['cache'] = true;


/* PEAR server name. Only change for testing purposes. */
$conf['releaseserver'] = 'pear.horde.org';

/* PEAR server directory. Only change for testing purposes. */
$conf['releasedir'] = '/horde/web/pear.horde.org';

/* Username for horde.org.
 * Make sure you belong to the "horde" group there. */
$conf['horde_user'] = '';

/* Needed to update the Whups versions */
$conf['horde_pass'] = '';

/* From: address for announcements. */
$conf['from'] = 'Full name <user@horde.org>';

/* Path to a checkout of the horde-web repository. */
// $conf['web_dir'] = '/var/www/horde-web';


// "Dev" related configuration. I.e., "install-dev" type stuff.

// List of applications to create symlinks for. Empty array will link all.
$conf['apps'] = array();

// Web-accessible base directory.
$conf['web_base'] = '/var/www/html/horde';

// Group name and mode to use for the static directory.
$conf['static_group'] = 'www';
$conf['static_mode'] = 0775;

// Set to true to copy the structure instead of linking.
$conf['copy'] = false;
